<h5>Colors</h5>
<div class="">
  <label for="filterText" class="form-label"></label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" 
  placeholder="Search on Colors..">
</div>
<div *ngIf="filterText.length>2" class="alert alert-success">
  {{filterText}} searched.
</div>
<ul class="list-group">
  <li [class]="getAllColorClass()" 
  routerLink="/cars">All Colors</li>
  <li (click)="setCurrentColor(color)" 
  routerLink="/cars/color/{{color.colorId}}"
  *ngFor="let color of colors | filterColor:filterText" 
  [class]="getCurrentColorClass(color)"> {{color.colorName}} </li>
</ul>
    