<br>
<div class="d-grid gap-2">
  <button type="button" class="btn btn-warning"><strong>Brands</strong></button>
</div>
<div class="">
  <label for="filterText" class="form-label form-label-color:blue"></label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" 
  placeholder="Search on Brands..">
</div>
<div *ngIf="filterText.length>2" class="alert alert-info">
  {{filterText}} searched.
</div>
<ul class="list-group">
  <li [class]="getAllBrandClass()" 
  routerLink="/cars">All Brands</li>
  <li (click)="setCurrentBrand(brand)" 
  routerLink="/cars/brand/{{brand.brandId}}"
  *ngFor="let brand of brands  | filterBrand:filterText" 
  [class]="getCurrentBrandClass(brand)"> {{brand.brandName}} </li>
</ul>


