<div  class="mx-auto">
    <br>
    <div id="carouselExampleIndicators"  class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div *ngFor="let carImage of carImages let i = index" [class]="getSliderClassName(i)">
          <img src="{{imageUrl}}{{carImage.imagePath}}" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="carouselExampleIndicators"   data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      </div>  
</div> 
  
<table class="table table-warning table-striped">
      <body>
      <ul  class="list-group">
        <li (click)="setCurrentCar(car)" routerLink="/cars/cardetail/{{car.carId}}"  
        [class]="getCurrentCarClass(car)">
               <tr><strong>Brand: </strong> {{car.brandName}}</tr>
               <tr><strong>Model Year: </strong> {{car.modelYear}}</tr>
               <tr><strong>Color: </strong> {{car.colorName}}</tr>
               <tr><strong>Daily Price: </strong> {{car.dailyPrice}}</tr>
               <tr><strong>Description: </strong> {{car.description}}</tr>
      </li>
      </ul>
    </body>
</table>  
  