<div class="row">
  <div class="col-md-3">
    <select [(ngModel)]="currentBrand" class="form-select" aria-label="Default select example">
        <option  [value]="undefined">Choose a brand</option>
        <option *ngFor="let brand of brands" [value]="brand.brandId" [selected]="getCurrentBrand(brand)">{{brand.brandName}}</option>
    </select>
</div>
<div class="col-md-3">
  <select [(ngModel)]="currentColor" class="form-select" aria-label="Default select example">
      <option  [value]="undefined">Choose a color</option>
      <option *ngFor="let color of colors" [value]="color.colorId" [selected]="getCurrentColor(color)">
        {{color.colorName}}</option>
  </select>
</div>
<div class="col-md-2">
  <button routerLink="/cars/filter/brand/{{currentBrand}}/color/{{currentColor}}" type="button" class="btn btn-success btn-lg">
      Filter
  </button>
</div> 
  <div class="col-md-2" >
    <button
      class="btn btn-danger btn-lg"
      routerLink="/cars"
    >
      Clear
    </button>
  </div>

</div>
